<div class="header">
   <div class="w-nav nav-bg" data-collapse="small" data-animation="default" data-duration="400" data-contain="1" data-ix="display-none" style="display: block; transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms; opacity: 1; transform: translateX(0px) translateY(0px);">
      <div class="w-container nav">
         <nav class="w-nav-menu nav-menu" role="navigation"><a class="w-nav-link nav-link" href="#hero" style="max-width: 940px;">HOME</a><a class="w-nav-link nav-link" href="#services" style="max-width: 940px;">SERVICES</a><a class="w-nav-link nav-link" href="#story" style="max-width: 940px;">story</a><a class="w-nav-link nav-link" href="#client" style="max-width: 940px;">client</a><a class="w-nav-link nav-link" href="#portfolio" style="max-width: 940px;">PORTFOLIO</a><a class="w-nav-link nav-link w--current" href="#contact" style="max-width: 940px;">Contact</a></nav>
         <div class="w-nav-button">
            <div class="w-icon-nav-menu"></div>
         </div>
      </div>
      <div class="w-nav-overlay" data-wf-ignore=""></div>
   </div>
</div>
<div class="hero" id="hero" data-ix="display-nav">
   <div class="w-container">
      <div class="userpic"></div>
      <p class="wite-center">MY NAME IS</p>
      <h1 class="name"><span class="name-span">Elliot Briant</span></h1>
      <div class="skils">
         <p class="wite-center">Software Engineer & Data Science Enthusiast</p>
      </div>
   </div>
   <div class="w-container"><a class="w-inline-block mouse" href="#services" data-ix="mouse" style="transition: transform 1000ms, opacity 1000ms; -webkit-transition: transform 1000ms, opacity 1000ms; opacity: 1; transform: translateX(0px) translateY(0px);"></a></div>
</div>
<div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
   <div class="w-container">
      <nav class="w-nav-menu nav-menu" role="navigation"><a class="w-nav-link nav-link bottom" href="#hero" style="max-width: 940px;">HOME</a><a class="w-nav-link nav-link bottom" href="#services" style="max-width: 940px;">SERVICES</a><a class="w-nav-link nav-link bottom" href="#story" style="max-width: 940px;">story</a><a class="w-nav-link nav-link bottom" href="#portfolio" style="max-width: 940px;">PORTFOLIO</a><a class="w-nav-link nav-link bottom" href="#contact" style="max-width: 940px;">Contact</a></nav>
      <div class="w-nav-button">
         <div class="w-icon-nav-menu"></div>
      </div>
   </div>
   <div class="w-nav-overlay" data-wf-ignore=""></div>
</div>
<div class="portfolio" id="services">
   <div class="w-container">
      <div class="w-row">
         <div class="w-col w-col-4 w-col-small-6 serv" data-ix="popup" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">
            <div class="database round-icon"></div>
            <h1>Data Science</h1>
            <p>Machine Learning, AI, Descriptive Statistics, Neural Networks.&nbsp;</p>
         </div>
         <div class="w-col w-col-3 w-col-small-6 serv" data-ix="popup-2" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">
            <div class="backend round-icon"></div>
            <h1>Backend</h1>
            <p>Server Architecture, Database Architecture and Managment, API.&nbsp;</p>
         </div>
         <div class="w-col w-col-3 w-col-small-6 serv" data-ix="popup-3" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">
            <div class="round-icon frontend"></div>
            <h1>Frontend</h1>
            <p>UX/UI, Product Design, Frameworks, User experience.&nbsp;</p>
         </div>
         <!-- <div class="w-col w-col-3 w-col-small-6 serv" data-ix="popup-4" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">
            <div class="round-icon coding"></div>
            <h1>HTML/CSS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;</p>
         </div> -->
      </div>
   </div>
</div>
<div class="full-widh-bg story" id="story">
   <div class="w-container">
      <h1>Experience</h1>
      <p>Currently seeking to obtain a new and challenging position that will allow me to utilize all skills and experience I have acquired through a diversity of assignments throughout my career.&nbsp;</p>
      <div class="timeline">
         <div class="w-row year">
            <div class="w-col w-col-6 w-col-small-6">
               <p class="p-right" data-ix="from-left" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Lead Full Stack Developer at Hamster Wheel. Hamster Wheel leverages mobile gaming technology and innovation to not only bring learning exercises backed by years of research to your home but also parental control.</p>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
               <h3 class="h-left" data-ix="from-right" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 1000ms; -webkit-transition: opacity 500ms, transform 1000ms;">Feb, 2018</h3>
            </div>
         </div>
         <div class="w-row year">
            <div class="w-col w-col-6 w-col-small-6">
               <h3 class="h-right" data-ix="from-left-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Jan, 2018</h3>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
               <p class="p-left" data-ix="from-right-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Full Stack Developer at ARCHITΞCT.Decentralized self-governance for cities. Architect leverages the smart contracts provided by DAOStack to build a simple shared voting economy. Architech was placed top 15 project at EthDenver for best self governance system on Ethereum platform. </p>
            </div>
         </div>
         <div class="w-row year">
            <div class="w-col w-col-6 w-col-small-6">
               <p class="p-right" data-ix="from-left" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Lead Full Stack Developer. Atlas Guide can also suggest locations near the user's itinerary to help guide travelers to fun events and locations during their trips.</p>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
               <h3 class="h-left" data-ix="from-right" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 1000ms; -webkit-transition: opacity 500ms, transform 1000ms;">Nov, 2017</h3>
            </div>
         </div>
         <div class="w-row year">
            <div class="w-col w-col-6 w-col-small-6">
               <h3 class="h-right" data-ix="from-left-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Oct, 2017</h3>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
               <p class="p-left" data-ix="from-right-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Lead Backend Developer at Augment app. Augment utilizes your phone camera to track your Lyft or Uber driver in real time. Uses camera and motion data in collaboration with AR (Augmented Reality) to map out your route in comparison with the world around you.</p>
            </div>
         </div>
      </div>
      <div class="timeline">
         <div class="w-row year">
            <div class="w-col w-col-6 w-col-small-6">
               <p class="p-right" data-ix="from-left" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Lead Backend Developer at BestStuff.Life. Best Stuff is a web application that allows you see where is the best food items you are looking for, create food competitions and more.</p>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
               <h3 class="h-left" data-ix="from-right" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 1000ms; -webkit-transition: opacity 500ms, transform 1000ms;">Oct, 2017</h3>
            </div>
         </div>
         <div class="w-row year">
            <div class="w-col w-col-6 w-col-small-6">
               <h3 class="h-right" data-ix="from-left-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Jul, 2017</h3>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
               <p class="p-left" data-ix="from-right-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Software Consultant at Binary Software Solutions. Developing high-quality, usable, and scalable applications with a specific focus on products – software that our customers use to power their own products and services.Capabilities in every aspect of software engineering including architecture, data management, backend systems, cloud infrastructure and optimization, and web and mobile applications.</p>
            </div>
         </div>
         <div class="w-row year">
            <div class="w-col w-col-6 w-col-small-6">
               <p class="p-right" data-ix="from-left" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Lead Frontend Developer at SecurAccount. Online resource to view all associated automated payments tied to your credit card and bank accounts and rescheduled payments. </p>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
               <h3 class="h-left" data-ix="from-right" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 1000ms; -webkit-transition: opacity 500ms, transform 1000ms;">May, 2017</h3>
            </div>
         </div>
         <div class="w-row year">
            <div class="w-col w-col-6 w-col-small-6">
               <h3 class="h-right" data-ix="from-left-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Mar, 2016</h3>
            </div>
            <div class="w-col w-col-6 w-col-small-6">
               <p class="p-left" data-ix="from-right-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;">Lead Backend Developer at Bounce App. A personal nightlife tour guide app. “Bounce” by your location or destination and discover the best places to hangout alone or with you friends.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- <div class="portfolio" id="client">
   <div class="w-container">
      <h1>My clients</h1>
      <p>We work with great brands. Close partnerships with really cool clients let us do world-class work.</p>
      <div class="w-row section">
         <div class="w-col w-col-2 w-col-small-4"><img class="customer" src="files/image/customer_1.png" alt="customer_1.png" data-ix="popup" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"></div>
         <div class="w-col w-col-2 w-col-small-4"><img class="customer" src="files/image/customer_2.png" alt="customer_2.png" data-ix="popup-2" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"></div>
         <div class="w-col w-col-2 w-col-small-4"><img class="customer" src="files/image/customer_3.png" alt="customer_3.png" data-ix="popup-3" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"></div>
         <div class="w-col w-col-2 w-col-small-4"><img class="customer" src="files/image/customer_4.png" alt="customer_4.png" data-ix="popup-4" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"></div>
         <div class="w-col w-col-2 w-col-small-4"><img class="customer" src="files/image/customer_6.png" alt="customer_6.png" data-ix="popup-5" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"></div>
         <div class="w-col w-col-2 w-col-small-4"><img class="customer" src="files/image/customer_5.png" alt="customer_5.png" data-ix="popup-6" style="opacity: 1; transform: scale(1); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"></div>
      </div>
   </div>
</div> -->
<div class="full-widh-bg responsive" id="responsive">
   <div class="w-container">
      <h1 class="wite-center" style="color: #000">Latest Project</h1>
      <p class="wite-center" style="color: #000">Hamster Wheel is a mobile educational gaming technology that leverages innovation and brings learning exercises backed by years of research to your home.</p>
   </div>
   <div class="w-container img" data-ix="from-bottom" style="transform: translateX(0px) translateY(0px); transition: transform 500ms; -webkit-transition: transform 500ms;"></div>
</div>
<!-- <div>
  <a href="https://itunes.apple.com/us/app/hamster-wheel/id1359303326?mt=8"><img src="./files/image/app.png" style="height: 68px; padding-left: 846px;"></a>
</div> -->

<div class="portfolio" id="portfolio">
   <div class="w-container">
      <h1>Portfolio</h1>
      <div class="w-row section">
         <div class="w-col w-col-3">
            <a class="w-lightbox w-inline-block" href="#">
               <img class="lightbox" src="files/image/hamster.png" alt="choochoo_1x.jpg" data-ix="from-left-2" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"><script type="application/json" class="w-json">{
                  "items": [
                    {
                      "type": "image",
                      "url": "files/image/hamster.png",
                      "width": 250,
                      "height": 250
                    }
                  ]
                  }
               </script>
            </a>
         </div>
         <div class="w-col w-col-3">
            <a class="w-lightbox w-inline-block" href="#">
               <img class="lightbox" src="files/image/cover.png" alt="ack-web-res_1x.jpg" data-ix="from-left" style="height: 164px; opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"><script type="application/json" class="w-json">{
                  "items": [
                    {
                      "type": "image",
                      "url": "files/image/cover.png",
                      "width": 250,
                      "height": 250
                    }
                  ]
                  }
               </script>
            </a>
         </div>
         <div class="w-col w-col-3">
            <a class="w-lightbox w-inline-block" href="#">
               <img class="lightbox" src="files/image/atlas.png" alt="responsive_1x.jpg" data-ix="from-right" style="height: 173px; opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 1000ms; -webkit-transition: opacity 500ms, transform 1000ms;"><script type="application/json" class="w-json">{
                  "items": [
                    {
                      "type": "image",
                      "url": "files/image/atlas.png",
                      "width": 250,
                      "height": 173
                    }
                  ]
                  }
               </script>
            </a>
         </div>
         <div class="w-col w-col-3">
            <a class="w-lightbox w-inline-block lightbox" href="#">
               <img class="lightbox" src="files/image/Exoplanets.jpg" alt="wearables_1x.jpg" data-ix="from-right-2" style="height: 163px; opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms; -webkit-transition: opacity 500ms, transform 500ms;"><script type="application/json" class="w-json">{
                  "items": [
                    {
                      "type": "image",
                      "url": "files/image/Exoplanets.jpg",
                      "width": 400,
                      "height": 300
                    }
                  ]
                  }
               </script>
            </a>
         </div>
      </div>
   </div>
</div>
<div class="last-work" id="work">
   <div class="w-container">
      <h1>My last work</h1>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      <div class="w-row section">
         <div class="w-col w-col-6">
            <p class="icon-text _4-icon"><span class="subtitle">User Interface Design</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p>
            <p class="icon-text joypad-icon"><span class="subtitle">User Experience Design</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p>
            <p class="icon-text imac-icon"><span class="subtitle">Responsive Web Design</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</p>
         </div>
         <div class="w-col w-col-6"><img src="files/image/ipad123.png" alt="ipad123.png" data-ix="from-right" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 1000ms; -webkit-transition: opacity 500ms, transform 1000ms;"></div>
      </div>
   </div>
</div>
<div class="portfolio" id="contact">
   <div class="w-container">
      <h1>My contacts</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>

   </div>
   <div class="w-container section soc"><a class="w-inline-block social" href="#"><img src="files/image/facebook.png" alt="facebook.png"></a><a class="w-inline-block social" href="#"><img src="files/image/google-+.png" alt="google-%2B.png"></a><a class="w-inline-block social" href="#"><img src="files/image/instagramm.png" alt="instagramm.png"></a><a class="w-inline-block social" href="#"><img src="files/image/pinterest.png" alt="pinterest.png"></a><a class="w-inline-block social" href="#"><img src="files/image/twitter.png" alt="twitter.png"></a></div>
</div>
